{#
  {
    "title": "Website architecture",
    "subtitle": "An overview of a generic personal blog website",
    "date": "2024-07-24",
    "category": "Programming",
    "tags": ["Architecture", "Python", "HTMX", "hello", "world"]
  }
#}

{% extends "_base.html" %}

{% block content %}
  <div class="content">
    <div class="content-body max-width">
      <h1 class="blog-title"> {{ title }} </h1>
      <h3 class="blog-subtitle"> {{ subtitle }} </h3>
      
      <p>
        This is my first blog post - ever really. Originally I thought I might launch this website with just a "Hello World" in the blog post archive. But since I'm working on this website right now, I might as well type up some details on it. In other words, there's not something particularly interesting about this website and how it's built. This is just a warm-up post if you will.
      </p>

      <h2>I come from big frameworks</h2>
      <p>
        I've previously written web applications in js-heavy Single Page Application frameworks. Truth be told, I would have had a much easier time cobbling this together in one of these frameworks, since I've worked with them a lot. In my professional carreer I've mostly used SAP's OpenUI5 framework for web stuff. It fits in nicely at the tech environment of the company where I've worked for a few years (given that we're very SAP heavy). I've also done a bit of React, along with component libraries such as Microsoft's Fluent UI. These frameworks are giant pieces of software. And it is hard to reason about what happens in the background. Optimizing load times and having fun with animations, interactions can be tricky. I can be very productive in these frameworks, but I wanted more control.
      </p>

      <h2>A simple static website</h2>
      <p>
        To be frank, this is not a particularly complicated website. So I wanted the architecture to reflect that. I shouldn't need any fancy stuff. The website should be fully static, it should be fast and simple without heavy load times. I toyed around with the idea of fully doing it in HTML/JS/CSS only - no dependencies and no build steps. But I ended up using templating instead. I simply didn't want full page reloads on all page navigations. Since I wanted to host on a static webserver, I'm using static templating.
      </p>

      <h2>Architecture</h2>
      <p>
        The website uses:
        <ul>
          <li>Static hosting (GitHub Pages for now)</li>
          <li>Static templating</li>
          <li>HTMX</li>
        </ul>
      </p>

      <h2>Static hosting</h2>
      <p>
        In short, this is the simplest way for me to host a website. Also, I was pretty set on using Github Pages to start with. It's a personal website and blog, so I don't see any need for clients to post or upload anything to the website.
      </p>

      <h2>Static templating</h2>
      <p>
        I want my website to have some sort of layout - with a navbar and footer. And as a started thinking about it - of course I wanted want to be able to do things like listing all blog entries. Since the website is static, I'm using static templating. I went with Python and jinja2 templates through a library called staticjinja. I know Python due to various small projects and scripts I've done over the years. It is however time to brush up on these skills - given that a lot of tools and libraries in the LLM are Python-exclusive or Python-first.
      </p>
      <p>
        For blog posts I've been adding metadata like tags, title and category in a small metadata section at the top of each file. I've seen a lot of these types of systems be Yaml based, but I don't like Yaml. I decided to just put a small json document in a Jinja2 comment at the top.
      </p>
      <div class="code-container">
        <pre><code class="language-jinja2">{% raw %}{#
  {
    "title": "Website architecture",
    "date": "2024-07-24",
    "category": "Programming",
    "tags": ["Architecture", "HTMX", "Python"]
  }
#}

{% extends "_base.html" %}

(...)

(actual blog post template here){% endraw %}</code></pre>
      </div>


      <h2>HTMX</h2>
      <p>
        HTMX is not strictly needed for the website in its current form. It gives me a simple enough way of avoiding full page reloads whenever the user navigates on the website. I've been curious about this library since it's positioned as counter-reaction to the big js-heavy libraries, so I thought it was time to try it.
      </p>

      <h2>Going forward</h2>
      <p>
        There's a few things I might change or explore going forward. We'll see if these happen, or if I end up trying them and deciding that they are not good ideas.

        <h3>Migrate from staticjinja to using jinja2 directly</h3>
        <p>
          Staticjinja was something ready-made that allowed me to "just get going" with Jinja2 templates. I'm mildly happy with it (it's OK). It gives me 'watch' functionality out-of-the-box for local development. But in the spirit of understanding the full architecture of the website I should definitively get rid of it. It also crashes randomly and needs to be restarted at times. I could probably debug this, but I don't feel like it since I could use the time to set up my own Jinja2 build/watch script myself.
        </p>

        <h3>Try a different templating engine</h3>
        <p>
          I have thrown around the idea of using something other than Python. Migrating to Go might be interesting, simply because it's an oppurtunity to learn more Go. It's a language that aligns better with how I think programming should work. The main reason I'm using Python right now is just that though - I want to invest some time in Python due to the momentum it has in the LLM space. I figure I'll use this website as a way of trying out things I'm interested in, so the Go migration might happen if I get some free time further along.
        </p>
      </p>
    </div>
  </div>
{% endblock %}

