{#
  {
    "title": "XML templates in UI5",
    "date": "2023-06-03",
    "category": "UI5",
    "tags": ["Templates", "Web"]
  }
#}

{% extends "_base.html" %}

{% block content %}

  <h1>XML templates in UI5</h1>
  <p>
    Many UI5 developers are familiar with the XML view syntax. It's a declarative way to define the structure of a UI5 application. But did you know that you can use XML templates to define the structure of your UI5 applications? In this blog post, we'll explore how to use XML templates in UI5.
  </p>
{% endblock %}

