.microsoft-json-dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mjd-value-widget {
  box-shadow: var(--smooth-shadow-small);
  margin-top: 20vh;
  margin-bottom: 20vh;
  display: flex;
  background-color: hsla(0, 0%, 10%);
  color: hsl(72, 60%, 95%);
  padding: 1.8rem clamp(1.2rem, 5vw, 2.3rem);
  font-size: clamp(1.2rem, 3.7vw, 2.0rem);
  border-radius: 1.3rem;
}

#mjd-value {
  margin-top: 0.6rem;
}

.mjd-time-equiv {
  display: flex;
  justify-content: center;
  font-size: clamp(0.9rem, 2.4vw, 1.3rem);
  opacity: 0.6;
}

#mjd-date-value {
  margin-right: 1.2rem;
}

.mjd-button-container {
  margin-left: clamp(0.8rem, 4vw, 2.2rem);
  display: flex;
  align-items: center;
}

.mjd-button {
  display: flex;
  border-radius: 50%;
  background-color: hsl(0, 0%, 23%);
  width: fit-content;
  height: fit-content;
  padding: 0.7rem;
  margin-left: clamp(0.4rem, 1vw, 0.8rem);
  cursor: pointer;
}

.mjd-button img {
  width: clamp(1.2rem, 3.8vw, 2.0rem);
  filter: invert(1);
  opacity: 0.95;
}

.mjd-input {
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 100%;
  max-width: 20rem;
}