#mjd-page .title {
  text-align: center;
  font-size: 2.2rem;
  margin: 5.2rem 0.5rem 0.9rem 0.6rem;
  color: hsl(0, 0%, 25%);

  transition:
    transform 0.5s 0.1s var(--smooth-ease-in),
    opacity 0.5s 0.1s linear;
  transform: translateY(1rem);
  opacity: 0;
}

#mjd-page.show .title {
  transform: translateY(0);
  opacity: 1;
}

#mjd-page .subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
  color: hsl(0, 0%, 46%);
  line-height: 2.1rem;
  margin: 0 clamp(0rem, 11vw, 7rem);

  transition:
    transform 0.5s 0.3s var(--smooth-ease-in),
    opacity 0.5s 0.3s linear;
  transform: translateY(1rem);
  opacity: 0;
}

#mjd-page.show .subtitle {
  transform: translateY(0);
  opacity: 1;
}


#mjd-page .subtitle i {
  color: hsl(0, 0%, 33%);
  padding: 0.1rem 0.3rem;
  border-radius: 0.4rem;
  white-space: nowrap;
  transition: background-color 0.8s 1.0s linear;
}

#mjd-page.show .subtitle i {
  background-color: hsla(145, 78%, 82%);
}

.microsoft-json-dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mjd-value-widget {
  opacity: 0;
  transition: opacity 0.3s ease;
  box-shadow: var(--smooth-shadow-small);
  margin-top: 5rem;
  margin-bottom: 20vh;
  display: flex;
  background-color: hsla(0, 0%, 10%);
  color: hsl(72, 60%, 95%);
  padding: 1.8rem clamp(1.2rem, 5vw, 2.3rem);
  font-size: clamp(1.2rem, 3.7vw, 2.0rem);
  border-radius: 1.3rem;
}

#mjd-page.show .mjd-value-widget {
  opacity: 1;
}

#mjd-value {
  margin-top: 0.6rem;
  font-family: monospace;
}

.mjd-time-equiv {
  display: flex;
  justify-content: center;
  font-size: clamp(0.9rem, 2.4vw, 1.3rem);
  opacity: 0.6;
}

#mjd-date-value {
  margin-right: 1.2rem;
}

.mjd-button-container {
  margin-left: clamp(0.8rem, 4vw, 2.2rem);
  display: flex;
  align-items: center;
}

.mjd-button {
  display: flex;
  border-radius: 50%;
  background-color: hsl(0, 0%, 23%);
  width: fit-content;
  height: fit-content;
  padding: 0.7rem;
  margin-left: clamp(0.4rem, 1vw, 0.8rem);
  cursor: pointer;
}

.mjd-button img {
  width: clamp(1.2rem, 3.8vw, 2.0rem);
  filter: invert(1);
  opacity: 0.95;
}

.mjd-input {
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 100%;
  max-width: 20rem;
}