#mjd-page .title {
  text-align: center;
  font-size: clamp(2.2rem, 5vw, 2.7rem);
  margin: 0 0.5rem 0.9rem 0.6rem;
  color: hsl(0, 0%, 25%);
  margin-top: clamp(5.0rem, 9vw, 8.5rem);

  transition:
    transform 0.5s 0.1s var(--smooth-ease-in),
    opacity 0.5s 0.1s linear;
  transform: translateY(1rem);
  opacity: 0;
}

#mjd-page.show .title {
  transform: translateY(0);
  opacity: 1;
}

#mjd-page .subtitle {
  text-align: center;
  font-weight: 500;
  font-size: clamp(1.3rem, 3vw, 1.5rem);
  color: hsl(0, 0%, 46%);
  line-height: clamp(2.1rem, 8vw, 2.8rem);
  margin: 0 clamp(0rem, 11vw, 7rem);
  margin-top: clamp(0rem, 1vw, 1.5rem);

  transition:
    transform 0.5s 0.3s var(--smooth-ease-in),
    opacity 0.5s 0.3s linear;
  transform: translateY(1rem);
  opacity: 0;
}

#mjd-page.show .subtitle {
  transform: translateY(0);
  opacity: 1;
}


#mjd-page .subtitle i {
  color: hsl(0, 0%, 33%);
  padding: 0.1rem 0.3rem;
  border-radius: 0.4rem;
  white-space: nowrap;
  transition: background-color 0.8s 1.0s linear;
}

#mjd-page.show .subtitle i {
  background-color: hsla(145, 78%, 82%);
}

.microsoft-json-dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mjd-value-widget {
  opacity: 0;
  transition: opacity 0.3s ease;
  box-shadow: var(--smooth-shadow-small);
  margin-top: 5rem;
  margin-bottom: 20vh;
  display: flex;
  background-color: hsla(0, 0%, 10%);
  color: hsl(72, 60%, 95%);
  padding: 2.1rem clamp(1.2rem, 5vw, 2.3rem);
  font-size: clamp(1.2rem, 3.7vw, 2.0rem);
  border-radius: 1.3rem;
}

#mjd-page.show .mjd-value-widget {
  opacity: 1;
}

.mjd-value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.mjd-time-equiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.1rem, 3.2vw, 1.5rem);
  background-color: hsla(223, 7%, 53%, 0.15);
  font-family: monospace;
  border-radius: 1rem;

  padding: 0.4rem 0.4rem;
}

.mjd-time-equiv input {
  font-size: inherit;
  font-family: inherit;
  padding: 0.2rem 0.2rem 0.2rem 0.7rem;
  border-radius: 0.4rem;

  background: hsla(0, 0%, 100%, 0);
  color: rgba(248, 248, 247, 0.6);
  appearance: none;

  transition:
    color 0.2s ease,
    border 0.2s ease,
    background 0.2s ease;
  border: 0.15rem solid hsla(0, 0%, 50%, 0);
}

.mjd-time-equiv input:focus{
  outline: none;
  box-shadow: none;
  background: hsla(0, 0%, 100%, 0.1);
  color: rgba(248, 248, 247, 0.9);
  border-color: hsla(0, 0%, 47%, 0.5);
}

#mjd-date-value {
  width: 6em;
}

#mjd-time-value {
  width: 5em;
}

#mjd-value {
  margin-top: 1.1rem;
  font-family: monospace;
}

.mjd-button-container {
  margin-left: clamp(0.8rem, 4vw, 2.2rem);
  display: flex;
  align-items: center;
}

.mjd-button {
  display: flex;
  border-radius: 50%;
  background-color: hsl(0, 0%, 23%);
  width: fit-content;
  height: fit-content;
  padding: 0.7rem;
  margin-left: clamp(0.4rem, 1vw, 0.8rem);
  cursor: pointer;
}

.mjd-button img {
  width: clamp(1.2rem, 3.8vw, 2.0rem);
  filter: invert(1);
  opacity: 0.95;
}

.mjd-input {
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 100%;
  max-width: 20rem;
}

