{% extends "_base.html" %}

{% block content %}

<div id="mjd-page" class="content" data-script="/tools/microsoft-json-dates/script.js">
    <!--
  <script src="microsoft-json-dates/script.js"></script>
    -->
  <div class="content-body max-width microsoft-json-dates">
    <!--
      <h1 class="title">Microsoft JSON Dates</h1>
      <h2 class="subtitle">I have to deal with this date format all the time. They are annoying, so I built this.</h2>
    -->

    <div class="mjd-value-widget">
      <div class="mjd-value-container">
        <div class="mjd-time-equiv">
          <div id="mjd-date-value"></div>
          <div id="mjd-time-value"></div>
        </div>
        <div id="mjd-value"></div>
      </div>
      <div class="mjd-button-container">
        <div class="mjd-button play" onclick="intervalId ? stopInterval() : startInterval()">
          <img src="/media/icons/tabler/player-stop.svg">
        </div>
        <div class="mjd-button pause" onclick="jsonDateToClipboard()">
          <img class="mjd-copy" src="/media/icons/tabler/copy.svg">
        </div>
      </div>
    </div>

    <!--
      <input class="mjd-input">
    -->
  </div>
</div>

{% endblock %}