<!DOCTYPE html>
<hmtl lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jens Wallgren">
    <meta name="description" content="Jens Wallgren's personal website">
    <meta property="og:title" content="Jens Wallgren">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Jens Wallgren">
    <meta property="og:description" content="Jens Wallgren's personal website">
    <meta property="og:image" content="media/light-logo.svg">
    <meta property="og:url" content="/">
    <meta property="og:type" content="website">


    <title>Jens Wallgren</title>

    <script src="/dependencies/htmx.js"></script>
    <link rel="stylesheet" href="style.css">

    <script>
      let underlineNavButton = () => {
        let url = window.location.pathname;
        let navButtons = document.querySelectorAll('.nav-button');

        navButtons.forEach(button => {
          let underline = button.parentElement.querySelector('.underline');

          if (button.getAttribute('hx-get') === url) {
            setTimeout(() => underline.classList.add('active'), 40);
          } else {
            underline.classList.remove('active');
          }
        });
      };

      document.addEventListener('DOMContentLoaded', underlineNavButton);
      document.body.addEventListener('htmx:afterSwap', underlineNavButton);
    </script>
  </head>

  <body>

    <div class="top-section">
      <div class="navbar">
        <img class="nav-logo" src="media/light-logo.svg" alt="Jens Wallgren Logo"/>
        <div class="buttons">

          <div class="nav-button-container">
            <a class="nav-button" hx-get="/" hx-push-url="true" hx-select=".content"
              hx-target=".content-section"
              hx-swap="innerHTML"
            >
              Blog
            </a>
            <div class="underline"></div>
          </div>

          <div class="nav-button-container">
            <a class="nav-button" hx-get="/about.html" hx-push-url="true" hx-select=".content"
              hx-target=".content-section"
              hx-swap="innerHTML"
            >
              About
            </a>
            <div class="underline"></div>
          </div>

        </div>
      </div>
    </div>

    <div class="content-section">
      {% block content %}{% endblock %}
    </div>

    <div class="footer-section">
      <img class="footer-logo" src="media/light-logo-bw.svg" alt="Jens Wallgren Logo"/>
      <p>Copyright 2024</p>
    </div>
  </body>
</html>
