<!DOCTYPE html>
<hmtl lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jens Wallgren">
    <meta name="description" content="Jens Wallgren's personal website">
    <meta property="og:title" content="Jens Wallgren">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Jens Wallgren">
    <meta property="og:description" content="Jens Wallgren's personal website">
    <meta property="og:image" content="/media/light-logo-small.svg">
    <meta property="og:url" content="/">
    <meta property="og:type" content="website">


    <title>Jens Wallgren</title>

    <script src="/dependencies/htmx.js"></script>
    <link rel="stylesheet" href="/style.css">

    <script>
      let onNavButtonClick = (event) => {
        Prism.highlightAll();
        underlineNavButton();
      };

      let underlineNavButton = () => {
        let url = window.location.pathname;
        let navButtons = document.querySelectorAll('.nav-button');

        navButtons.forEach(button => {
          let underline = button.parentElement.querySelector('.underline');
          if (!underline) return;

          if (button.getAttribute('hx-get') === url) {
            setTimeout(() => underline.classList.add('active'), 40);
          } else {
            underline.classList.remove('active');
          }
        });
      };

      document.addEventListener('DOMContentLoaded', underlineNavButton);
      document.body.addEventListener('htmx:afterSwap', (e) => {
        onNavButtonClick();
        // Load the script at the path of the new page
        let scriptPath = e.detail.pathInfo.requestPath.replace('.html', '/script.js');
        let script = document.createElement('script');
        script.src = scriptPath;
        document.head.appendChild(script);
      });
      document.body.addEventListener('click', (event) => {
        if (!event.target.closest('.dropdown')) {
          document.querySelector('#tools-dropdown').classList.remove('active');
        }
      });
    </script>

    <link href="/dependencies/prism.css" rel="stylesheet" />
  </head>

  <body>
    <script src="/dependencies/prism.js"></script>

    <div class="top-section">
      <div class="navbar-blur-background"></div>
      <div class="navbar">
        <picture>
          <source srcset="/media/light-logo-small.svg" media="(max-width: 48rem)">
          <img class="nav-logo" src="/media/light-logo.svg" alt="Jens Wallgren Logo"
            hx-get="/"
            hx-push-url="true"
            hx-select=".content"
            hx-target=".content-section"
            hx-swap="innerHTML"
          />
        </picture>

        <div class="buttons">
          <div id="tools-dropdown" class="dropdown">
            <div class="nav-button-container">
              <script>
                function toolsButton() {
                  document.querySelector('#tools-dropdown').classList.toggle('active');
                };
              </script>
              <div class="nav-button" onclick="toolsButton()"> 
                Tools
                <img src="/media/icons/tabler/chevron-right.svg" class="dropdown-chevron" />
              </div>
            </div>

            <div class="dropdown-content">
              <a class="dropdown-button" hx-get="/tools/microsoft-json-dates.html" hx-push-url="true"
                hx-select=".content"
                hx-target=".content-section"
                hx-swap="innerHTML"
              >
                Microsoft JSON Dates
              </a>
            </div>
          </div>
          <div class="nav-button-container">
            <a class="nav-button" hx-get="/" hx-push-url="true" hx-select=".content"
              hx-target=".content-section"
              hx-swap="innerHTML"
            >
              Blog
            </a>
            <div class="underline"></div>
          </div>

          <div class="nav-button-container">
            <a class="nav-button" hx-get="/about.html" hx-push-url="true" hx-select=".content"
              hx-target=".content-section"
              hx-swap="innerHTML"
            >
              About
            </a>
            <div class="underline"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar-top-background"></div>

    <div class="content-section">
      {% block content %}{% endblock %}
    </div>

    <div class="footer-section">
      <img class="footer-logo" src="/media/light-logo-bw.svg" alt="Jens Wallgren Logo"/>
      <p>Copyright 2024</p>
    </div>
  </body>
</html>
