{% extends "_base.html" %}


{% block content %}
  <div class="content">
    <div class="banner-section">
      <div>
        <img class="about-intro-icon" src="media/light-about-intro-icon.svg"/>
        <picture>
          <source srcset="media/light-about-intro-title-small.svg" media="(max-width: 44rem)">
          <img class="about-intro-title" src="media/light-about-intro-title.svg"/>
        </picture>
      </div>
    </div>

    <div class="content-body max-width about-page">
      <p class="top-paragraph">
        I like building things. It's why I went down this career trail,
        and it's why I occasionally have trouble shutting down my computer on late nights.
        Currently I work as a consultant. I'm building software, automations and anything IT for a suite of different clients.
      </p>

      <p>
        I work with various technologies - some because I love them,
        some because they make sense within the context of the client I am working with.
        C#, Azure, JS, Python, SAP, ABAP, UI5 (Fiori), Cordova.
        I've spent a lot of free time mucking around with C and C++ (although mainly C).
      </p>

      <h2>Programmer first. Architect second</h2>
      <p>
        I occasionally act as an architect in projects.
        I enjoy this too, but I prefer projects where we don't get bogged down in planning
        and whiteboard sessions.
        Remember, I'm in it for the building and making things happen.
        The best work is done when one is allowed to be exploratory.
      </p>

      <h2>Project management is important</h2>
      <p>
        But I never act as a project manager.
        I have plenty of ideas on the subject that I happily talk about,
        but I have colleagues that are far better at the subject.
        I'm currently in a bit of a transitory phase in between leaving my previous employer
        and setting up a new company. In this transitory phase, I'm doing consulting work via NTG Consulting AB.
      </p>

      <div class="find-me-links">
        <div>
          <a href="mailto:jens@ntgit.se">Email</a>
          <a href="https://github.com/JensWallgren">Github</a>
          <a href="https://www.linkedin.com/in/jenswallgren/">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

