{% extends "_base.html" %}


{% block content %}
  <div class="content">
    <div class="banner-section">
      <div>
        <img class="about-intro-icon" src="media/light-about-intro-icon.svg"/>
        <img class="about-intro-title" src="media/light-about-intro-title.svg"/>
        <img class="about-intro-subtitle" src="media/light-about-intro-subtitle.svg"/>
      </div>
    </div>
    <div class="max-width">
      <p>
        I'm building solutions for a suite of different clients. I work with various technologies - some because I love them, some because they make sense within the context of the client I am working with. C#, Azure, JS, React, Python, SAP, ABAP, UI5 (Fiori), Cordova. I've spent a lot of free time mucking around with C and C++ (although mainly C).
      </p>
      <h5>Programmer first. Architect second</h5>
      <p>
        I occasionally act as an architect in projects. I enjoy this too, but I prefer projects where we don't get bogged down in planning and whiteboard sessions. The best work is done when one is allowed to be exploratory. I never act as a project manager. I have some ideas on the subject that I happily talk about, but I have colleagues that are far better at the subject. I currently work at Implema AB - a Swedish IT Consultancy focused on ERP systems and surrounding IT systems.
      </p>
    </div>
  </div>
{% endblock %}

