{% extends "_base.html" %}

{% from 'macros/button.html' import button %}

{% block content %}
  <div class="content">
    <div class="banner-section">
      <div>
        <div class="blog-intro-circle"></div>
        <img class="blog-intro-title" src="media/light-blog-intro-title.svg"/>
      </div>
    </div>

    <div class="content-body max-width">
      {% for post in blog_posts %}
        <div class="blog-post">
          <h2>{{ post.title }}</h2>
          <p>{{ post.date }}</p>
          <p>{{ post.content }}</p>
          <div class="button read-more" hx-get="/blog-posts/{{ post.fileName }}" hx-push-url="true"
            hx-select=".content"
            hx-target=".content-section"
            hx-swap="innerHTML"
          >
            <img src="media/icons/tabler/arrow-right.svg">
            <div>Read more</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

