:root {
  --page-max-width: 56rem;
  --color-primary: hsl(211, 100%, 50%);
  --color-primary-filter:
    brightness(0) saturate(100%) invert(26%) sepia(98%) saturate(2674%)
    hue-rotate(203deg) brightness(109%) contrast(104%);
  --navbar-height: 5.2rem;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: hsl(0, 0%, 95%);
  padding: 0;
  margin: 0;
  display: grid;
  height: 100vh;
  font-size: 1.2rem;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.top-section {
  position: fixed;
  z-index: 1000;
  height: var(--navbar-height);
  width: 100%;
  display: flex;
  background-color: hsla(0, 0%, 100%, 0.8);

  --blur-size: 0.6rem;
  backdrop-filter: blur(var(--blur-size));
  -webkit-backdrop-filter: blur(var(--blur-size));
}

.navbar {
  width: 100%;
  max-width: var(--page-max-width);
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-top-background {
  background-color: white;
  height: var(--navbar-height);
}

.nav-logo {
  cursor: pointer;
  width: 19rem;
}

.buttons {
  display: flex;
}

.nav-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4rem;
}

.nav-button-container > .underline {
  width: 0;
  height: 0.2rem;
  background-color: var(--color-primary);
  transition:
    width 0.4s ease-out,
    opacity 0.2s ease-out;
  margin-top: 0.2rem;
  border-radius: 0.2rem;
}

.nav-button-container:hover > .underline {
  width: 0.4rem;
  opacity: 0.4;
}

.nav-button-container > .underline.active {
  width: 100%;
}

.nav-button {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}


.max-width {
  max-width: var(--page-max-width);
  margin: 0 auto 0 auto;
}

.content-body {
  margin-top: 4rem;
  font-size: 1.5rem;
}


.banner-section {
  background-color: white;
}

.banner-section > * {
  position: relative;
  max-width: var(--page-max-width);
  margin: 0 auto 0 auto;
  padding: 2rem 0 2rem 0;
  height: 21rem;
}

.blog-intro-circle {
  position: absolute;
  right: 8%;
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  background: linear-gradient(
    205deg,
    rgba(0,122,255,0) 10%,
    rgba(0,122,255,0.4) 60%,
    rgba(0,122,255,1) 100%
  );
}

.blog-intro-title {
  margin: 3.5rem 16% 0 10%;
  position: absolute;
  z-index: 2;
}

.about-intro-icon {
  position: absolute;
  right: 8%;
  width: 17rem;
  height: 17rem;
  opacity: 0.7;
}

.about-intro-title {
  margin: 2rem 18% 0 12%;
  position: absolute;
  z-index: 2;
}

.about-intro-subtitle {
  margin: 16rem 40% 0 35%;
  position: absolute;
  z-index: 2;
}

.footer-section {
  padding: 8rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.8;
}

.footer-logo {
  width: 15rem;
}

.button {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  color: var(--color-primary);
  border-radius: 0.3rem;

  --arrow-offset: -1.9rem;
}

.blog-post {
  margin-top: 3rem;
}

.blog-post .title {
  font-weight: 700;
  font-size: 2.2rem;
}

.blog-post .subtitle {
  font-weight: 500;
  opacity: 0.7;
  font-size: 1.5rem;
}

.blog-post .date {
  margin-top: 0.3rem;
  font-size: 1.6rem;
}

.blog-post .button {
  margin-top: 0.9rem;
  font-weight: 500;
}

.button img {
  position: absolute;
  filter: var(--color-primary-filter);
  margin-right: 0.4rem;
  opacity: 0;

  transform: translateX(calc(var(--arrow-offset) - 0.4rem));

  --transition-duration: 0.2s;
  transition:
    transform var(--transition-duration) ease-out,
    opacity var(--transition-duration) linear;
}

.button:hover img {
  transform: translateX(var(--arrow-offset));
  opacity: 1;
}

.code-container {
  background-color: hsl(200, 7%, 18%);
  color: hsl(164, 20%, 96%);
  border-radius: 1rem;
  padding: 1rem;
}